body {
    background-color:#f3ece6;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
    max-width: 100%;
}

header {
    text-align: center;
}

.logo-container {
    display: inline-block;
    position: relative;
    overflow: hidden;
    /* bron: https://chat.openai.com */
}

.logo-container img{
    height: auto;
    max-width: 10%;
    object-fit: cover;
    /* bron: https://chat.openai.com */
}

header ul {
    background: #e6dfdc;
    display: flex;
    justify-content: center;
    list-style-type: none;
    max-width: 100%;
    text-align: center;
    text-decoration: none;
    padding: 3px;
    /* bron: heb ik van opgegeven literatuur https://internetingishard.netlify.app/html-and-css/hello-css/ */
}

/* section {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    margin-left: 5em;
    margin-right: 5em;
    max-width: 100%;
} */

li {
    margin: 1em;
}

li a{
    color: white;
    text-decoration: none;
    /* bron: https://internetingishard.netlify.app/html-and-css/hello-css/ */
}

footer {
display: flex;
justify-content: center;
}

/* hieronder begint home */

.home {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5em;
    margin-right: 5em;
}

.home section {
    display: flex;
    justify-content:center;
    text-align: left;
}

.makeup-bag {
    position: relative;
    display: flex;
    justify-content: center;
    width: 500px;
    height: 300px;
    object-fit: cover;
}

.home img {
   width: 70%;
}

/* hier eindigt home */
/* hieronder begint makeup */

.makeup {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: 5em;
    margin-right: 5em;
}

.makeup section {
    display: flex;
    justify-content: center;
    text-align: left;
}


.makeup img {
    max-width: 20%;
}

/* hier eindigt makeup */
/* hieronder begint skincare  */

.skincare {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: 5em;
    margin-right: 5em;
}

.skincare section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.skincare img {
    max-width: 20%;
}

/* hier eindigt skincare */
/* hieronder begint contact */

.contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: 5em;
    margin-right: 5em;
}

.contact section {
    display: flex;
    justify-content: center;
    
}

.contact p {
    text-align: center;
}

.contact a{
    color: black;
}

.contact img {
    max-width: 13%;
}

/* hier eindigt contact */

i {
    font-family: 'Times New Roman', Times, serif;
}

a { 
    padding: 0.5em;
    border-radius: 0.4em;
    text-decoration: none;
    /* bron: https://cmda.github.io/internetstandaarden-screencasts/videos/15-transities/ */
}

ul a:hover {
    background: #f9e5e0;
    /* bron: https://cmda.github.io/internetstandaarden-screencasts/videos/15-transities/ */
}

ol {
    justify-content: center;
    text-align: center;
    list-style-type: none ;
    text-decoration: none
    /* bron:https://internetingishard.netlify.app/html-and-css/hello-css/ */
}


h1 {
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}

h2 {
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;

}

h3 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

